@import url('../default/style.css');
/*OpenLayers*/
.olControlPanel{
    float: left;
    margin-left: 75px;
    margin-top: 5px;
    border: 1px solid grey;
    padding: 2px;
    background-color: #EEE;
}
.olControlNavigationHistory{
    float: left;
    margin: 5px;
    background-color: white;
}/*
.olControlEditingToolbar{
    float: left;
    left: 150px;
}*/
.olControlPanel div {
    float: left;
    display:block;
    width:  24px;
    height: 22px;
    margin: 5px;
    background-repeat: no-repeat;
}
.olControlPanel .olControlNavigationItemActive {
    background-color: blue;
    background-image: url("../default/img/pan_on.png");
}
.olControlPanel .olControlNavigationItemInactive {
    background-color: orange;
    background-image: url("../default/img/pan_off.png");
}
.olControlPanel .olControlZoomBoxItemInactive {    
    background-image: url("img/zoom_box_off.png");
}
.olControlPanel .olControlZoomBoxItemActive {    
    background-image: url("img/zoom_box_on.png");
}
.olControlPanel .olControlZoomToMaxExtentItemInactive {
    width:  18px;
    height: 18px;
    background-image: url("../img/zoom-world-mini.png");
}
.olControlPanel .olControlb_bufferItemInactive{
    background-image: url("img/bomb.png");
}
.olControlPanel .olControlb_bufferItemActive{
    background-image: url("img/bomb.png");
    background-color: black;
}
.olControlPanel .olControlidentifyItemActive{
    background-color: red;
}
.olControlPanel .olControlidentifyItemInactive{
    background-color: blue;
}

.olControlPanel .olControlb_highlightItemInactive{
    background-color: yellow;
}
.olControlPanel .olControlb_highlightItemActive{
    background-color: black;
}

.olControlPanel .olControlb_removePolygonsItemInactive{
    background-color: orange;
}
.olControlPanel .olControlb_removePolygonsItemActive{
    background-color: orchid;
}

.olControlPanel .olControlDrawFeaturePointItemInactive{
    background-image: url("../default/img/draw_point_off.png");
}

.olControlPanel .olControlDrawFeaturePointItemActive{
    background-image: url("../default/img/draw_point_on.png");
}

.olControlPanel .olControlDrawFeaturePathItemInactive{
    background-image: url("../default/img/draw_line_off.png");
}

.olControlPanel .olControlDrawFeaturePathItemActive{
    background-image: url("../default/img/draw_line_on.png");
}

.olControlPanel .olControlDrawFeaturePolygonItemInactive{
    background-image: url("../default/img/draw_polygon_off.png");
}

.olControlPanel .olControlDrawFeaturePolygonItemActive{
    background-image: url("../default/img/draw_polygon_on.png");
}
/*LoadingPanel*/
.olControlLoadingPanel {
    float: right;
    margin-left: 75px;
    margin-top: 75px;
    background-image: url("img/loading.gif");
    position: relative;
    width: 195px;
    height: 11px;
    background-position:center;
    background-repeat:no-repeat;
    display: none;
}

