<?xml version="1.0" encoding="UTF-8"?>
<FLAMINGO xmlns:fmc="fmc" allowExternalInterface="map1.onReallyChangedExtent,.onRequest,toolGroup.onSetTool,map1.onIdentify,map1.onIdentifyData,map1.onInit,map1.onUpdateComplete,b_getfeatures.onEvent,b_buffer.onEvent,b_removePolygons.onEvent,b_highlight.onEvent,b_bookMark.onEvent,b_printMap.onEvent,b_layerSelection.onEvent,b_showOverzicht.onEvent" id="flamingo" lang="nl" languages="nl,en" tooltipdelay="100" preloadtitle="B3p Gisviewer" useexternalinterface="true" tooltipdelay="100">
    <style id=".tooltip" font-family="arial, sans-serif" font-size="12" color="#000000" display="block"/>
    
    <yguide id="my" y="50%"/>
    <xguide id="mx" x="50%"/>
    
    <fmc:MonitorMap id="monitorl" left="25%" top="10%" width="35%" listento="map1">
        <string id="waiting"  en="Making... [layer] [percentage]%..." nl="Kaart aan het maken..."/>
        <string id="loading"  en="Making... [layer] [percentage]%..." nl="Kaart aan het laden. [percentage]%"/>
    </fmc:MonitorMap>

    <fmc:Container backgroundcolor="#EEEEEE" left="0" top="0" height="36" width="100%">
        <fmc:ToolGroup id="toolGroup" tool="identify" listento="map1" width="500" height="65" left="5" top="5">
            <fmc:ToolZoomin id="toolZoomin" skin="f2" />
            <fmc:ToolZoomout id="toolZoomout" left="30" skin="f2"/>
            <fmc:ToolPan id="toolPan" left="60" skin="f2"/>
            <fmc:ToolMeasure id="toolMeasure" left="90" skin="f2" />

            <fmc:ToolIdentify id="identify" left="120" skin="f2" />

            <fmc:ToolIdentify id="breinaald" left="120" skin="f2" visible="false">
                    <cursor id='cursor' url='assets/jsbtn/polygon_select_cursor.png' xoffset="-8" yoffset="0"/>
                    <cursor id='click' url='assets/jsbtn/polygon_select_cursor.png' xoffset="-8" yoffset="0"/>
                    <cursor id='busy' url='assets/jsbtn/polygon_select_cursor.png' xoffset="-8" yoffset="0"/>
            </fmc:ToolIdentify>

            <fmc:ButtonFull id="toolFullExtent" left="150" listento="map1" skin="f2" />
            <fmc:ButtonPrev id="toolPrevExtent" left="180" listento="map1" skin="f2" />
            <fmc:ButtonNext id="toolNextExtent" left="210" listento="map1" skin="f2" />
                
            <!--<fmc:ZoomerV listento="map1" left="30" top="75" height="200" skin="f2"/>-->
            <fmc:ZoomerV left="25" top="50" height="200" listento="map1">
                <string id="tooltip_zoomin" en="zoomin" nl="inzoomen"/>
                <string id="tooltip_zoomout" en="zoomout" nl="uitzoomen"/>
                <string id="tooltip_slider" en="..." nl="..."/>
            </fmc:ZoomerV>

            <!-- stukje knoppen voor redlining/ editing -->
            <fmc:Container id="redLiningContainer" visible="false">
                <!-- fmc:EditInfoPanel id="editInfoPanel" left="0%" top="50" listento="editMap" nrdigits="2"/ -->
                <fmc:EditLegend id="editLegend" left="250" top="0" listento="editMap" expandable="false"/>
                <fmc:EditBar id="editBar" left="250" top="0" listento="editMap" />
            </fmc:Container>

            <fmc:Container left="20">
                <fmc:JsButton id="b_buffer" left="320" top="0" width="21" height="21" iconurl_up="flamingo/assets/jsbtn/buffer_tool.png" iconurl_over="flamingo/assets/jsbtn/buffer_tool.png" iconurl_sel="flamingo/assets/jsbtn/buffer_tool.png" iconurl_dis="flamingo/assets/jsbtn/buffer_tool_disabled.png" label="" toggle="false" visible="false" enabled="false" selected="false">
                    <string id="tooltip" en="buffer polygon" nl="buffer het tekenobject"/>
                </fmc:JsButton>

                <fmc:JsButton id="b_highlight" left="350" top="0" width="21" height="21" iconurl_up="flamingo/assets/jsbtn/polygon_select.png" iconurl_over="flamingo/assets/jsbtn/polygon_select.png" iconurl_sel="flamingo/assets/jsbtn/polygon_select.png" iconurl_dis="flamingo/assets/jsbtn/polygon_select.png" label="" toggle="true" visible="false" enabled="true" selected="false">
                    <string id="tooltip" en="select object" nl="selecteer een object in de kaart"/>
                </fmc:JsButton>

                <fmc:JsButton id="b_getfeatures" left="380" top="0" width="21" height="21" iconurl_up="flamingo/assets/jsbtn/polygon_info.png" iconurl_over="flamingo/assets/jsbtn/polygon_info.png" iconurl_sel="flamingo/assets/jsbtn/polygon_info.png" iconurl_dis="flamingo/assets/jsbtn/polygon_info_disabled.png" label="" toggle="false" visible="false" enabled="true" selected="false">
                    <string id="tooltip" en="select within features" nl="selecteer binnen geselecteerd kaartobject"/>
                </fmc:JsButton>

                <fmc:JsButton id="b_removePolygons" left="410" top="0" width="21" height="21" iconurl_up="flamingo/assets/jsbtn/polygon_delete.png" iconurl_over="flamingo/assets/jsbtn/polygon_delete.png" iconurl_sel="flamingo/assets/jsbtn/polygon_delete.png" iconurl_dis="flamingo/assets/jsbtn/polygon_delete_disabled.png" label="" toggle="false" visible="false" enabled="true" selected="false">
                    <string id="tooltip" en="remove polygon" nl="verwijder het tekenobject"/>
                </fmc:JsButton>

                <fmc:JsButton id="b_printMap" left="440" top="0" width="21" height="21" iconurl_up="images/print.png" iconurl_over="images/print.png" iconurl_sel="images/print.png" iconurl_dis="images/print.png" label="" toggle="false" visible="false" enabled="true" selected="false">
                    <string id="tooltip" en="print example" nl="printvoorbeeld"/>
                </fmc:JsButton>

                <fmc:JsButton id="b_layerSelection" left="470" top="0" width="21" height="21" iconurl_up="images/book_open.png" iconurl_over="images/book_open.png" iconurl_sel="images/book_open.png" iconurl_dis="images/book_open.png" label="" toggle="false" visible="false" enabled="true" selected="false">
                    <string id="tooltip" en="layer selection" nl="kaartselectie"/>
                </fmc:JsButton>
            </fmc:Container>
        </fmc:ToolGroup>
    </fmc:Container>

    <fmc:Container id="containerMain" borderwidth="1" bordercolor="#606060" left="0" top="5%" height="95%" width="100%">
        <fmc:Scalebar right="right -50" bottom="bottom -15" width="100" listento="map1" units=" m"></fmc:Scalebar>
        
        <fmc:Coordinates left="15" bottom="bottom -15" decimals="0" listento="map1">
            <string id="xy" en="x: [x]  y: [y]"/>
            <style id=".xy" font-family="arial" font-size="10px" color="#191919" display="block" font-weight="normal"/>
        </fmc:Coordinates/>

        <fmc:BorderNavigation listento="map1" top="0%" width="100%" height="100%" skin="f1"/>

        <!-- het 'canvas' waar op getekend kan worden-->
        <fmc:EditMap id="editMap" editable="true" left="0" top="0%" height="100%" width="100%" bottom="bottom" listento="gis,map1"/>

        <fmc:GIS id="gis" geometryeditable="false" alwaysdrawpoints="false">
            <fmc:Layer id="layer1" name="layer1" visible="true" geometrytypes="Point,LineString,Polygon,MultiPolygon" showmeasures="true">
                <fmc:Style fillcolor="0x000000" fillopacity="30" strokecolor="0xcc0000" strokeopacity="100" strokeWidth="1"/>
            </fmc:Layer>
        </fmc:GIS>

        <fmc:Maptip listento="map1"/>
        
        <fmc:Map id="map1" left="0" top="0%" height="100%" width="100%" maptipdelay="200" bottom="bottom" visible="true" extent="12000,304000,280000,620000" fullextent="12000,304000,280000,620000" extenthistory="10" resolutions="512.000,256.000,128.000,64.000,32.000,16.000,8.000,4.000,2.000,1.000,0.500,0.250,0.125">            
            <fmc:LayerIdentifyIcon  id="identifyicon" />        
        </fmc:Map>        
    </fmc:Container>
</FLAMINGO>