<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- Localization context voor o.a. de <fmt:message> JSTL tag -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ViewerResources</param-value>
    </context-param>

    <!-- NL locale voor formatten van getallen: 1.234.567,89 -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>nl</param-value>
    </context-param>

	<!-- Waar naartoe na uitloggen? Standaard /index.do, override in context.xml -->
    <context-param>
        <param-name>logout.destination</param-name>
        <param-value>/index.do</param-value>
    </context-param>

    <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/securityfilter-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<!-- url rewriter for CMS pages like /cms/1/home.htm -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <servlet>
        <servlet-name>aconfig</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.HibernateUtil</servlet-class>
        <init-param>
            <param-name>kburl</param-name>
            <param-value>http://gis.gouda.nl/kaartenbalie/services/</param-value>
        </init-param>

		<init-param>
            <param-name>internalKbUrl</param-name>
            <param-value>http://gis.gouda.nl/kaartenbalie/services/</param-value>
        </init-param>

        <init-param>
            <param-name>anonymous_user</param-name>
            <param-value>anoniem</param-value>
        </init-param>

		<init-param>
            <param-name>cacheOnDisk</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cacheOnDiskPath</param-name>
            <param-value>/srv/cache/</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>xmlsecuritydatabase</servlet-name>
        <servlet-class>nl.b3p.commons.security.XmlSecurityDatabase</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/users.xml</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Data2CSV</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.Data2CSV</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>CreateImageServlet</servlet-name>
		<servlet-class>nl.b3p.combineimages.CreateImageServlet</servlet-class>
		<init-param>
			<param-name>maxResponseTime</param-name>
			<param-value>30000</param-value>
		</init-param>
	</servlet>

	<servlet>
        <servlet-name>PrintServlet</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.print.PrintServlet</servlet-class>        
        <init-param>
            <param-name>xsl_A4_Staand</param-name>
            <param-value>/WEB-INF/xsl/A4_Staand.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>xsl_A4_Liggend</param-name>
            <param-value>/WEB-INF/xsl/A4_Liggend.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>xsl_A3_Liggend</param-name>
            <param-value>/WEB-INF/xsl/A3_Liggend.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>xsl_A3_Staand</param-name>
            <param-value>/WEB-INF/xsl/A3_Staand.xsl</param-value>
        </init-param>
		<init-param>
			<param-name>xsl_A2_Staand</param-name>
			<param-value>/WEB-INF/xsl/A2_Staand.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>xsl_A2_Liggend</param-name>
			<param-value>/WEB-INF/xsl/A2_Liggend.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>xsl_A1_Staand</param-name>
			<param-value>/WEB-INF/xsl/A1_Staand.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>xsl_A1_Liggend</param-name>
			<param-value>/WEB-INF/xsl/A1_Liggend.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>xsl_A0_Staand</param-name>
			<param-value>/WEB-INF/xsl/A0_Staand.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>xsl_A0_Liggend</param-name>
			<param-value>/WEB-INF/xsl/A0_Liggend.xsl</param-value>
		</init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>  

	<servlet>
        <servlet-name>SearchAutocomplete</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.SearchAutocomplete</servlet-class>
    </servlet> 

	<servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>  

	<servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>maxThreadLog</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>refreshRate</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcherSleepTime</param-name>
            <param-value>10000</param-value>
        </init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.DownloadServlet</servlet-class>
        <init-param>
            <param-name>downloadPath</param-name>
            <param-value>/srv/downloads/</param-value>
        </init-param>
        <init-param>
            <param-name>smtpHost</param-name>
            <param-value>smtp.gouda.nl</param-value>
        </init-param>
        <init-param>
            <param-name>contactEmail</param-name>
            <param-value>gis@gouda.nl</param-value>
        </init-param>
		<init-param>
            <param-name>emailSuffix</param-name>
            <param-value>@gouda.nl</param-value>
        </init-param>
        <load-on-startup>6</load-on-startup>
    </servlet>	

	<servlet>
		<servlet-name>UserLayerSld</servlet-name>
		<servlet-class>nl.b3p.gis.viewer.services.UserLayerSldServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadedPointsWmsServlet</servlet-name>
		<servlet-class>nl.b3p.gis.viewer.UploadedPointsWmsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetBlobServlet</servlet-name>
		<servlet-class>nl.b3p.gis.viewer.services.GetBlobServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetThemesServlet</servlet-name>
		<servlet-class>nl.b3p.gis.viewer.services.GetThemesServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>DocFetcher</servlet-name>
        <servlet-class>nl.b3p.gis.utils.DocFetcherServlet</servlet-class>
        <init-param>
            <param-name>locationPrefix</param-name>
            <param-value>/mnt/ggdata/stroomlijn/data/raster/360</param-value>
        </init-param>
        <init-param>
            <param-name>directoryKeepDepth</param-name>
            <param-value>-1</param-value>
        </init-param>
        <init-param>
            <param-name>fetchMethod</param-name>
            <param-value>FILE</param-value>
        </init-param>
    </servlet>

	<servlet>
        <servlet-name>DocFetcherVirtual</servlet-name>
        <servlet-class>nl.b3p.gis.utils.DocFetcherServlet</servlet-class>
        <init-param>
            <param-name>locationPrefix</param-name>
            <param-value>/mnt/ggdata/Gisdata/Documenten</param-value>
        </init-param>
        <init-param>
            <param-name>directoryKeepDepth</param-name>
            <param-value>-1</param-value>
        </init-param>
        <init-param>
            <param-name>fetchMethod</param-name>
            <param-value>FILE</param-value>
        </init-param>
    </servlet>

	<servlet>
		<servlet-name>Data2PDF</servlet-name>
		<servlet-class>nl.b3p.gis.viewer.services.Data2PDF</servlet-class>
		<init-param>
			<param-name>xsl_data2pdf</param-name>
			<param-value>/WEB-INF/xsl/data2pdf.xsl</param-value>
		</init-param>
	</servlet>

    <servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>nl.b3p.gis.viewer.services.ReportServlet</servlet-class>
		<init-param>
			<param-name>xsl_report</param-name>
			<param-value>/WEB-INF/xsl/report_a.xsl</param-value>
		</init-param>
	</servlet>

	<servlet>
        <servlet-name>CreateSLD</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.SldServlet</servlet-class>
        <init-param>
            <param-name>defaultSld</param-name>
            <param-value>/WEB-INF/defaultSld.xml</param-value>
        </init-param>
    </servlet>    

	<servlet-mapping>
		<servlet-name>GetThemesServlet</servlet-name>
		<url-pattern>/GetThemes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data2CSV</servlet-name>
        <url-pattern>/services/Data2CSV</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateImageServlet</servlet-name>
		<url-pattern>/CreateImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchAutocomplete</servlet-name>
		<url-pattern>/viewer/SearchAutocomplete.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>PrintServlet</servlet-name>
        <url-pattern>/services/PrintServlet</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/services/DownloadServlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>UserLayerSld</servlet-name>
        <url-pattern>/services/createUserSld</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadedPointsWmsServlet</servlet-name>
		<url-pattern>/UploadedPointsWmsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetBlobServlet</servlet-name>
		<url-pattern>/services/getBlobServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>DocFetcher</servlet-name>
        <url-pattern>/services/DocFetcher/*</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>DocFetcherVirtual</servlet-name>
        <url-pattern>/services/DocFetcherVirtual/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>Data2PDF</servlet-name>
		<url-pattern>/services/Data2PDF</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/services/ReportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>CreateSLD</servlet-name>
        <url-pattern>/services/CreateSLD/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
    </welcome-file-list>
    <error-page>
		<error-code>403</error-code>
		<location>/loginError.do</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/http_404.do</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/http_500.do</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/http_503.do</location>
	</error-page>
</web-app>
