#kaartvak {
    width: 500px;
    height: 300px;
    border: 1px solid Black;
}

#adminvak {
    width: 415px;
    height: 290px;
    border: 1px solid Black;
    padding: 5px;
}

#geoafwijking {
    width: 405px;
    height: 120px;
    border: 1px solid Black;
}

#adminafwijking {
    width: 405px;
    height: 120px;
    border: 1px solid Black;
}

.hoofdvak {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

select {
    width: 400px;
    height: 120px;
    margin: 0px;
    overflow: auto;
    border: 0px none White;
}

option {
    font-size: 10pt;
    background: white;
    color: #000000;
    font-family: arial, sans-serif;
}

.oud {
    background-color: #dfd875;
}

.nieuw {
    background-color: #75df79;
}

.parkeren {
    background-color: #7587df;
}

.definitief_ontkoppeld {
    background-color: #dfba75;
}