#kaderdiv {
    padding-top: 15px;
    width: 950px;
}

#tabvak {
    display: block;
    width: 950px;
    height: 15px;
    float: left;
    border: 1px solid Black;
    border-bottom: 1px solid Black;
    cursor: pointer;
}

select {
    width: 260px;
    margin: 0px;
    overflow: auto;
    border: 1px solid Black;
}

option {
    font-size: 9pt;
    background: white;
    color: #000000;
    font-family: arial, sans-serif;
}

#rightdiv_etl {
    float: left;
    width: 290px;
    height: 489px;
}

#infovak_etl{
    height: 489px;
}
