html, body {
    overflow: hidden;
}

#loadingscreen {
    width: 100%;
    position: absolute;
    z-index: 9999999;
    left: 0px;
    top: 78px; /* header height + infobalkheight */
    bottom: 0px;
}

#loadingfilter {
    background-color: Black;
    opacity: .75;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    position: absolute;
    z-index: 9999998;
    width: 100%;
    height: 100%;
}

#loadingmessage {
    position: relative;
    top: 50%;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: White;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#loadingimage {
    position: absolute;
    width: 100%;
    width: 100%;
    height: 100%;
    z-index: 9999997;
}

#content_viewer .infobalk {
    height: 20px;
    padding-top: 3px;
    margin: 0px;
    padding-left: 10px;
    position: absolute;
    left: 3px;
    right: 3px;
    top: 2px;
    width: auto;
}

#content_viewer .infobalk .infobalk_description {
    text-align: left;
    width: 175px;
    float: left;
    margin-left: 20px;
}

#content_viewer .infobalk .infobalk_actions {
    text-align: left;
    width: 400px;
    float: left;
    margin-left: 20px;
    color: #000;
}

#content_viewer #informatiebalk {
    top: auto;
    bottom: 203px;
}

.layerdisabled, .layerdisabled a, .layerdisabled a:visited, .layerdisabled a:active {
    color: #999999 !important;
}

.disabledRadioChilds, .disabledRadioChilds a, .disabledRadioChilds a:visited, .disabledRadioChilds a:active {
    color: #999999 !important;
}
#mapcontent {
    position: absolute;
    top: 28px;
    left: 3px;
    right: 294px;
    bottom: 229px;
}

#dataframediv {
    position: absolute;
    left: 3px;
    right: 3px;
    bottom: 1px;
    height: 200px;
}

#dataframediv iframe {
    width: 100%;
    height: 100%;
}

#leftcontent {
    position: absolute;
    left: 3px;
    width: 288px;
    top: 28px;
    bottom: 229px;
    background-color: Green;
    display: none;
    overflow: auto;
}

#tabjes {
    position: absolute;
    right: 3px;
    width: 288px;
    top: 28px;
    height: 20px;
}

#tab_container {
    position: absolute;
    right: 3px;
    width: 288px;
    top: 48px;
    bottom: 229px;
    overflow: auto;
}

#tab_container .tabvakloading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    background-color: White;
}

#tab_container .tabvakloading div {
    width: 50%;
    position: relative;
    top: 50%;
    margin-top: -25%;
    margin-left: auto;
    margin-right: auto;
    color: Black;
    font-weight: bold;
}

#tab_container .tabvak, #leftcontent .tabvak {
    margin: 5px;
}

#tab_container .tabvak_with_iframe, #leftcontent .tabvak_with_iframe {
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0px;
    right: 0px;
}

#tab_container .tabvak_with_iframe iframe, #leftcontent .tabvak_with_iframe iframe {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.orderLayerBox {
    overflow: auto;
}

.orderLayerClass{
    cursor: pointer;
    overflow: hidden;
}

.orderLayerClassSelected{
    cursor: pointer;
}

.orderLayerClass span, .orderLayerClassSelected span {
    padding-top: 4px;
}

/* voor plan select tab */

.planselectcontainer{
    margin-left: 3px;
    float: left;
    width: 230px;
}
.planselectbox{
    width: 225px;
    height: 100px;
}

#firstLink {
    margin-top: 0px;
}

#kopTekst {
    padding: 4px 0px 5px 23px;
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
    background-position: 5px 4px;
}

#kolomTekst {
    padding: 11px;
    padding-left: 3px;
    padding-top: 3px;
}

/* voor analyse tab */

.analysecontainer{
    margin-left: 5px;
    margin-top: 2px;
    width: 230px;
}

.analyseoptie{
    margin-left: 3px;
 }

/* voor meldignen tab */

.meldingencontainer{
    margin-left: 5px;
    margin-top: 2px;
    width: 230px;
}

.meldingenoptie{
    margin-left: 3px;
 }

.meldinglabel{
    margin-top: 2px;
    float: left
}
.meldingwaarde{
    margin-left: 5px;
    margin-top: 2px;
}
/* Panel controls */
#panelControls div {
    z-index: 200;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#leftControl {
    position: absolute;
    left: 6px;
    top: 3px;
}

#rightControl {
    position: absolute;
    right: 6px;
    top: 3px;
}

#onderbalkControl {
    position: absolute;
    left: 6px;
    bottom: 155px;
}

.treeLegendClass {
    padding: 5px;
    margin-left: 5px;
    margin-top: 2px;
}

#searchConfigurationsContainer {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* CURSOR DEFINITIONS OPENLAYERS */
#mapcontent .olControlidentifyActive, #mapcontent .olDragDown.olControlidentifyActive {
    cursor: url(./cursors/identify.cur), url(cursors/identify.cur), pointer;
}

#mapcontent .olControlDragPanActive {
    cursor: url(./cursors/pan.cur), url(cursors/pan.cur), default;
}

#mapcontent .olDragDown {
    cursor: url(./cursors/pan_drag.cur), url(cursors/pan_drag.cur), move;
}

#mapcontent .olControlZoomBoxActive {
    cursor: url(./cursors/zoom.cur), url(cursors/zoom.cur), default;
}

#mapcontent .olControlMeasureActive {
    cursor: url(./cursors/measure.cur), url(cursors/measure.cur), default;
}

#mapcontent .olControlb_highlightActive {
    cursor: url(./cursors/highlight.cur), url(cursors/highlight.cur), default;
}

#content_viewer #mapcontent .olControlDrawFeaturePolygonActive, #content_viewer #mapcontent .olControlDrawFeaturePathActive, #content_viewer #mapcontent .olControlDrawFeaturePointActive {
    cursor: pointer;
}

#mapcontent .olControlPanel, #mapcontent .olControlPanZoomBar {
    cursor: default;
}
/*Maatregel*/
.maatregelContainer{
    margin-top: 5px;
}
.maatregel_vraag{
    margin-top: 5px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: #FFF0C5;
}
.maatregel_vraagHoeveelheid{
    margin-top: 5px;
}
.maatregel_vraagSelect{
    margin-top: 5px;
}
.maatregelListContainer{
    border-bottom: 1px solid;
}
.maatregel_item{
    margin-bottom: 5px;
}
.maatregel_text{
    float: left;
    width: 75%;    
}
.maatregel_delete{    
    float: right;
    width: 25%;
    color: red;
    
}
.maatregel_hr{
    margin-top: 20px;
    color: #FFF;
    background-color: #FFF;
    border-color: #FFF;
}
.maatregel_optie_input{
    margin-top: 10px;
}

/*
.maatregel_vraagSelect input{
    float: left;
}*/