body {
    font-size: 1.1em;
    background-color: #fff;
    color: #000;
}

.searchLink {
    font-size: 1.2em;
    color: #0000ff;
}

.div-table-header {
    float: left;
    display: table-column;         
    width: 200px;         
    background-color: #ccc;  
}

.div-table-header-small {
    float: left;
    display: table-column;         
    width: 50px;         
    background-color: #ccc;  
}

.div-table-row {
    float: left;
    display: table-row;         
    width: 200px;         
    background-color: #eee;  
}

.div-table-row-small {
    float: left;
    display: table-row;         
    width: 50px;         
    background-color: #eee;  
}

#footer {
    padding-top: 10px;
}

#footer hr {
    width: 300px;
    text-align: left;
    margin-left: 0px;
    color: #eeeeee;
}