#tab_container .tabvak_with_iframe {
    top: 0px;
    height: 100%;
}

#tab_container .tabvak_with_iframe iframe {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body.pdfExportClass {
    position: relative;
}

#kaartselectieAddService input {
    width: 520px;
}

.kaartselectieBody .submitbutton {
    padding-left: 10px;
    padding-right: 0px;
}

/* IE7 posities voor mee scrollende opslaan knop */
#kaartselectieOpslaanKnop {
    float: right;
    margin-right: 7px;
    top: 25px;
    right: 17px;
    position: relative;
    overflow: hidden;
}

#kaartselectieBomen {
    padding-top: 65px;
}

#kaartselectieAddService .rightButton {
    margin-top: -25px;
}

.treeview_image {
    margin-top: 0px;
}

.treeview_image_on {
    margin-top: 0px;
}

.kaartlaagselectieContainer {
    margin-top: 0px;
    z-index: 4000;
}

.kaartlaagselectieSldContainer textarea {
    float: left;
    margin-left: 5px;
}

/* remove ugly black border */
.kaartselectieBody .submitbutton {
    filter: chroma(color=#000000);
}

.kaartselectie, .kaartselectieKoppen {
    width: 728px;
}