#tab_container .tabvak_with_iframe {
    top: 0px;
    height: 100%;
}

#tab_container .tabvak_with_iframe iframe {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body.pdfExportClass {
    position: relative;
}
