body {
    padding: 0; 
    margin: 0; 
    font-size: 8pt; 
    background: white; 
    color: #000000; 
    font-family: arial, sans-serif;
}
th {
    font-size: 8pt; 
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
div{
    float: left;
}
div, td, th, span, input, textarea, select, option {
    font-size: 8pt;
    color: #000000; 
    font-family: arial, sans-serif;
}
#maindiv {
    position: static;
    float: none;
    width: 950px;
    margin-left: auto; 
    margin-right: auto;
    background-color: #FFF;
}

.topmenu {
    position: static;
    background-image: url("../images/patroon_a.gif");
    background-repeat: repeat;
    width: 950px;
    height: 20px;
    padding-top: 5px;
}
.menu_boven_logo {
    position: static;
    background-image: url("../images/brabant.GIF");
    width: 950px;
    height: 25px;
}
a.menulink, a.menulink:visited, a.menulink:active {
    color: white;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none; 
}
a.menulink:hover {
    text-decoration: underline;
}
.menuWhite {
    color: white;
    font-weight: bold;
}

/*koppen */
h1{
    font-weight: bold; 
    font-size: 11pt; 
    margin: 0px; 
    color: #FF0000
}