html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.topmenu, .menu_boven_logo {
    top: 0px;
}

.menulink, .menuactivelink {
    padding-top: 0px;
}

.onderbalkTable {
    width: 100%; height: 20px; background-color: #FFD203;  background-image: url(/gisviewer/images/balk_links.gif); background-repeat: no-repeat; background-position: 0% 0%;
}

.onderbalkTableLeft {
    color: #FFF0C4; font-size: 14px; font-weight: bold;
    padding-left: 15px;
}

.onderbalkTableRight {
     padding-right: 15px;
}

.onderbalkTableRight, #actief_thema {
    font-size: 8pt; font-weight: bold; color: #19619B; text-align: right;
}

.onderbalkTableRight a {
    color: #FFFFFF;
    font-weight: bold;
}

#flashcontent {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#dataframe, #dataframediv {
    width: 100%;
    margin-bottom: 0px;
}


#tab_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#treevak, #volgordevak, #infovak, #objectvakViewer, #analysevakViewer {
    height: 100%;
}

.tabvak {
    height: 100%;
}

.tabvak_with_iframe {
    height: 100%;
}

#objectframeViewer, #analyseframeViewer {
    margin: 0px;
    padding: 0px;
    height: 100%;
}