/* Algemene BODY style */
body {
    font-size: 8pt; 
    background: White; 
    color: #000000; 
    font-family: arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

th {
    font-size: 8pt; 
    font-weight: bold;
    text-align: left;
}

div, td, th, span, input, textarea, select, option, button {
    font-size: 8pt;
    color: #000000; 
    font-family: arial, sans-serif;
}

h1{
    font-weight: bold; 
    font-size: 11pt; 
    color: #7e2b42;
}

div, td, th, span, input, textarea, select, option, button {
    font-size: 8pt;
    color: #000000; 
    font-family: arial, sans-serif;
}


a, a:visited, a:active {
    color: Black;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
/* Einde Algemene BODY style */

/* Breedte en achtergrond kleur van content DIV */
#maindiv {
    background-color: White;
}

/* Onderste balk style */
#onder_div {
    background-image: url(/digitree/images/digitree/onderbalk.gif);
    display: block;
    background-color: Pink;
    margin-top: 8px;
}

/* Menu links style */
a.menulink, a.menulink:visited, a.menulink:active, a.activemenulink, a.activemenulink:visited, a.activemenulink:active {
    color: Black;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none; 
}

/* Menu links Hover style */
a.menulink:hover, a.activemenulink:hover {
    text-decoration: underline;
}

/* Content DIV */
#content_div {
    text-align: left;
}

/* Bovenst DIV (Flamingoviewer + tabs) */
#bovenkant {
    background-color: White;
}

/* Stijl voor een Enabled invoer veld */
.inputEnabled {
    background-color: White;
}

/* Stijl voor een Disabled invoer veld */
.inputDisabled {
    background-color: #A1A1A1;
}

/* Overkoepelende DIV rond de tabjes */
#tabjes {
    width: 291px;
    height: 20px;
    text-align: center;
}

/* Algemene stijl voor inhoud van de tabjes */
.tabvak {
    border: 0px none White;
    background-image: url(/digitree/images/digitree/tabvak_bg.gif);
    background-repeat: repeat;
    background-color: #76B6D1;
    background-position: 0% 0%;
    color: Black;
    margin: 0px;
}

/* Stijl voor de DIVs en TDs binnen het tabvak */
.tabvak div, .tabvak td {
    color: Black;
}

/* Stijl de tabvelden met een iframe (object en analyse) */
.tabvak_with_iframe {
    border: 0px none White;
    margin: 0px;
    padding: 0px;
}

/* Stijl van de layerlijst DIV */
#treevak {
    width: 286px;
    margin: 0px;
    overflow: auto;
    padding-left: 5px;
    padding-top: 3px;
}

/* Stijl van de Object en Analyse DIV */
#objectframe, #analyseframe {
    margin: 0px;
    padding: 0px;
    width: 291px;
}

/* Overkoepelende DIV rondom velden met de tab inhoud */
#tab_container {
    width: 291px;
    color: White;
    height: 100%;
}

/* Stijl van de SPANS binnen het infotabje */
#algdatavak span {
    color: Black;
}

/* Stijl van de body van de in de IFRAME geladen tabs */
.tabvak_body {
    background-image: url(/digitree/images/digitree/tabvak_bg.gif);
    background-repeat: repeat;
    background-color: #76B6D1;
    padding-left: 6px;
    padding-top: 6px;
    color: Black;
}

/* Algemene Stijl voor de body van de in de IFRAME geladen tabs */
.tabvak_body td, .tabvak_body div, .tabvak_body th {
    color: Black;
}

.tabvak_body td, #doanalysedataForm select {
    font-size: 8pt;
}

#doanalysedataForm .thema_label {
    font-weight: bold;
    font-style: italic;
}

/* Stijl van de JAVASCRIPT lagen-lijst */
#layermaindiv {
    width: 276px;
}

/* Stijl van de links in de JAVASCRIPT lagen-lijst */
#layermaindiv a {
    color: Black;
}

/* Stijl voor de Volgorde/Legenda tab */
#volgordevak{
    width: 285px;
    padding: 3px;
}

#volgordevak form {
    width: 100%;
    height: 100%;
}

/* Stijl van het infovak (RD coordinaten, zoeker, e.d.) */
#infovak{
    width: 285px;
    padding: 3px;
}

#objectvakViewer, #analysevakViewer {
    width: 291px;
}

#objectframeViewer, #analyseframeViewer {
    width: 291px;
}

/* Stijl van DIVs in het infovak (RD coordinaten, zoeker, e.d.) */
#infovak div {
    margin-left: 3px;
    margin-top: 3px;
}

#dataframediv {
    border: 1px solid #606060;
    margin-bottom: 5px;
    background-color: White;
    margin-top: 0px;
}
/* Opmaak van de tabjes */
ul#nav li {
    text-align: center;
}

ul#nav a {
    background-color: #D6F9E1;
    background-image: url(/digitree/images/digitree/patroon_b.gif);
    text-decoration: none;
    color: Black;
    font-size: 8pt;
    height: 20px;
}

ul#nav a:hover {
    background-color: #76B6D1;
    background-image: url(/digitree/images/digitree/tabvak_bg.gif);
    text-decoration: none;
    color: #007C25;
}

ul#nav li.activelink a,ul#nav li.activelink a:hover {
    background-color: #76B6D1;
    background-image: url(/digitree/images/digitree/tabvak_bg.gif);
    text-decoration: none;
    color: #007C25;
}

ul#nav li#tab4 a { width: 57px; }
ul#nav li#tab3 a { width: 58px; }
ul#nav li#tab3 { margin-right: 0px; }
/* EINDE Opmaak van de tabjes */

/* Opmaak admindata */
#admindata_table {
    font-size: 8pt;
}

#admindata_table td {
    border: 0px none White;
}

.admindatabody {
    background-color: White;
}

.topRow {
    background-image: url(/digitree/images/digitree/patroon_a.gif);
    background-repeat: repeat;
}

.topRow th {
    color: Black;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 3px;
}

.row {
    color: Black;
    font-weight: normal;
}

.row td {
    padding-left: 3px;
}

.row:hover {
    background-color: #606060;
}

.scrolldiv {
    border: 1px solid black;
}

#aanvullende_info_table {
    border: 0px none White;
}

.aanvullende_info_th {
    text-align: left;
    font-size: 8pt;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px none White;
}

.aanvullende_info_td {
    font-size: 8pt;
    text-align: center;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px none White;
}

.aanvullende_info_alternateTr {
    text-align: center;
    background-color: #E7EEF4;
}

.admin_data_content_div {
    overflow: auto;
}

.admin_data_alternate_tr {
    background-color: #E7EEF4;
}
.admin_data_selected_tr {
    background-color: #19619B;
}
/* EINDE Opmaak admindata */
 
/* Stijl van resultaat tekst van analyse */
.waardeResult{    
    font-size: 12px; 
}

/* Opmaak Volgorde/Legenda vak */
.orderLayerBox{
    border: 1px solid #606060;
    background-color: White;
    color: #175480;
    height: 80%;
    overflow: auto;
}

.orderLayerClass{
    cursor: pointer;
    background-color: White;
    color: #175480;
}
.orderLayerClassSelected{
    background-color: #bbbbbb;
    cursor: pointer;
    color: #175480;
}

.orderLayerClass span, .orderLayerClassSelected span {
    padding-top: 4px;
    color: #175480;
}
/* EINDE Opmaak Volgorde/Legenda vak */

/* Opmaak meta data tabel */
.meta_data_body td {
    font-size: 8pt;
}

.messages {
    border: 1px solid blue;
    font-size: 9pt;
    font-weight: bold;
}

.meta_data_alternate {
    background-color: White;
    background-image: url(/digitree/images/digitree/patroon_c.gif);
    background-repeat: repeat;
    color: Black;
    width: 100%;
}

.meta_data_normal {
    background-color: White;
    color: Black;
    width: 100%;
}

.meta_data_normal h1, .meta_data_alternate h1 {
    color: #7e2b42;
    font-size: 12px;
    margin-left: 3px;
}

.meta_data_normal td, .meta_data_alternate td {
    color: Black;
}

.meta_data_normal th, .meta_data_alternate th {
    color: #7e2b42;
}
/* EINDE Opmaak meta data tabel */

/* Table Layout Style */
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.topmenu, .menu_boven_logo {
    top: 0px;
}

.menulink, .menuactivelink {
    padding-top: 0px;
}

.onderbalkTable {
    width: 100%;
    height: 20px;
    background-color: #FFD203;
    background-image: url(/gisviewer/images/balk_links.gif);
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.onderbalkTableLeft {
    color: #FFF0C4; font-size: 14px; font-weight: bold;
    padding-left: 15px;
}

.onderbalkTableRight {
     padding-right: 15px;
}

.onderbalkTableRight, #actief_thema {
    font-size: 8pt; font-weight: bold; color: #19619B; text-align: right;
}

.onderbalkTableRight a {
    color: #FFFFFF;
    font-weight: bold;
}

#flashcontent {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#dataframe, #dataframediv {
    width: 100%;
    margin-bottom: 0px;
}


#tab_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#treevak, #volgordevak, #infovak, #objectvakViewer, #analysevakViewer {
    height: 100%;
}

.tabvak {
    height: 100%;
}

.tabvak_with_iframe {
    height: 100%;
}

#objectframeViewer, #analyseframeViewer {
    margin: 0px;
    padding: 0px;
    height: 100%;
}