#bovenkant {
    width: 950px;
    height: 498px;
}

#algdatavak {
    margin: 0px;
    padding: 0px;
}

.onderbalk {
    width: 935px;
    height: 22px;
    background-color: #606060;
    margin: 0px;
    margin-top: 0px;
    color: White;
    font-size: 20px;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 15px;
}

.onderbalk span {
    font-size: 8pt;
    font-weight: bold;
    color: White;
    float: right;
    margin: 0px;
    margin-right: 15px;
    margin-top: -20px;
}

#map{
    position: static;
    width: 658px;
    height: 493px;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    /*border: 1px solid Black;*/
    margin-top: 5px;
}
#rightdiv {
    float: left;
    width: 291px;
    height: 476px;
    margin-top: 21px;
}
#tabjes {
    width: 291px;
    height: 18px;
    text-align: center;
}

.tabvak {
    margin: 0px;
    margin-left: 0px;
    padding: 2px;
    padding-left: 4px;
    width: 285px;
    height: 453px;
    float: left;
    border: 1px solid #606060;
    border-left: 0px none White;
    background-image: url(/nbr_prototype/images/infovak_bg.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#volgordevak{
    padding: 6px;
    padding-left: 6px;
    width: 279px;
    height: 445px;
}

#volgordevak form {
    margin-top: 4px;
}

.tabvak_with_iframe {
    margin: 0px;
    padding: 2px;
    padding-left: 4px;
    padding-bottom: 0px;
    padding-right: 0px;
    width: 287px;
    height: 455px;
    float: left;
    border: 1px solid #606060;
    border-left: 0px none White;
}

#objectframe {
    margin: 0px;
    border: 0px;
    width: 287px;
    height: 455px;   
}
#analyseframe {
    margin: 0px;
    border: 0px;
    width: 287px;
    height: 455px;   
}
#dataframe {
    float: left;
    width: 948px;
    height: 265px;
}
#dataframediv {
    border: 1px solid #606060;
    float: left;
    width: 948px;
    margin-top: 15px;
}
#admindatamaindiv{
    position: static;
    float: left;
    width: 950px;
    height: 265px;
    margin-top: 5px;
}
#tab_container {
    height: 458px;
    width: 291px;
}
#layermaindiv{
    /*position: static;*/
    margin: 0px;
    border: 0px;
    width: 277px;
    height: 445px; 
    padding: 5px;
    overflow: auto;
}
/*For the layers*/
a, a:visited, a:active {
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
    float: rigth;
}
a:hover{
    text-decoration: underline;
}
/*For admindata*/
#admindata_table {
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
    width: auto;
}

#admindata_table td {
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    border: 0px none White;
}

.topRow {
    background-image: url("../images/patroon_a.gif");
    background-repeat: repeat;
}

.topRow th {
    color: White;
    font-weight: bold;
}

.row{
    color: Black;
    font-weight: bold;
}
.row:hover {
    background-color: #606060;
}
.cell{
    float: left;
    width: 150px;
}
.scrolldiv{
    width: 952px;
    /*height: 200px;*/
    border: 1px solid black;
    margin-top: 10px;
}

button {
    border: 1px solid Black;
    height: 15px;
    width: auto;
    font-size: 8pt; 
    background: white; 
    color: #000000; 
    font-family: arial, sans-serif;
}

#aanvullende_info_table {
    border: 0px none White;
    margin-top: 10px;
    margin-left: 10px;
}

.aanvullende_info_th {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 11px;
}

.aanvullende_info_td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
}

.aanvullende_info_alternateTr {
    background-color: #DDDDDD;
}

.admin_data_content_div {
    overflow: auto;
    height: 245px;
    width: 948px;
}

.admin_data_alternate_tr {
    background-color: #DDDDDD;
}
.admin_data_selected_tr {
    background-color: #0094FF;
}

.waardeResult{    
    font-size: 12px; 
}

.searchResultsClass{
    margin-top: 10px;
    width: 275px;   
    overflow: auto;
}

.orderLayerBox{
    overflow: auto;
    height: 325px;
    width: 275px;
    border: 1px solid #606060;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: White;
}
.orderLayerClass{
    clear: both;
    cursor: pointer;
    background-color: White;
    width: 273px;
    padding-left: 2px;
}
.orderLayerClassSelected{
    clear: both;
    background-color: #bbbbbb;
    width: 273px;
    cursor: pointer;
    padding-left: 2px;
}

.tabvak_body td, #doanalysedataForm select {
    font-size: 8pt;
}

#doanalysedataForm select {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#doanalysedataForm .zoek_knop {
    margin-top: 5px;
    margin-left: 5px;
}

#doanalysedataForm .thema_label {
    margin-left: 1px;
    font-weight: bold;
    font-style: italic;
}

#doanalysedataForm .thema_object {
    margin-left: 5px;
}

#doanalysedataForm .optie {
    float: left;
    clear: both;
}

#object_opties, #waarde_opties {
    margin-left: 10px;
    clear: both;
    float: left;
}

#waardeResultDiv {
    margin-top: 100px;
}

.tabvak_body {
    background-image: url(/nbr_prototype/images/infovak_bg.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
}

.meta_data_body td ol {
    list-style-position:inside;
    margin: 0px;
    padding: 0px;
}
.meta_data_body td {
    font-size: 8pt;
}

.messages {
    border: 1px solid blue;
    width: 250px;
    padding: 5px;
    margin: 2px;
    font-size: 9pt;
    font-weight: bold;
}

.meta_data_alternate {
    clear: both;
    padding-top: 2px;
    padding-bottom: 2px;
}

.meta_data_normal {
    clear: both;
    padding-top: 2px;
    padding-bottom: 2px;
}

#onder_div {
    display: none;
}

#onderbalk_logo {
    display: none;
}