/* Algemene BODY style */
body {
    font-size: 8pt; 
    background: #FFF0C5; 
    color: #000000; 
    font-family: arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
body.pdfExportClass {
    background-color: White;
}
th {
    font-size: 8pt; 
    font-weight: bold;
    text-align: left;
}

div, td, th, span, input, textarea, select, option, button {
    font-size: 8pt;
    color: #000000; 
    font-family: arial, sans-serif;
}

h1{
    font-weight: bold; 
    font-size: 11pt; 
    color: #196299;
}

a, a:visited, a:active {
    color: #FFF0C4;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
/* Einde Algemene BODY style */

/* Breedte en achtergrond kleur van content DIV */
#maindiv {
    background-color: #FFF0C5;
    width: 970px;
}

/* Bovenste balk / Menu style */
#menu_div {
    width: 100%;
    background-image: url(/gisviewer/images/bovenbalk.gif);
    background-repeat: repeat-x;
    height: 50px;
    text-align: center;
}

/* Onderste balk style */
#onder_div {
    width: 100%;
    background-image: url(/gisviewer/images/onderbalk.gif);
    background-repeat: repeat-x;
    height: 50px;
    display: block;
}

/* Copyright tekst in onderste balk */
#copyright {
    background-image: url(/gisviewer/images/copyright.gif);
    background-repeat: no-repeat;
    width: 120px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -461px;
}

/* Initiatief + B3P logo in onderste balk */
#initiatief {
    background-image: url(/gisviewer/images/initiatief.gif);
    background-repeat: no-repeat;
    width: 334px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: 161px;
}

/* Menu style */
.topmenu {
    background-image: none;
    width: 480px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: 6px;
    margin-top: 18px;
}

.topmenu_viewer {
    background-image: none;
    width: 480px;
    height: 27px;
    float: right;
    margin-top: 23px;
}

/* Menu links style */
a.menulink, a.menulink:visited, a.menulink:active {
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 21px;
    border: 0px none White;
    border-left: 1px solid #A0D9FF;
    border-top: 1px solid #A0D9FF;
    border-right: 1px solid #102F44;
    color: #A0D9FF;
    margin: 0px;
    margin-left: 0px;
    float: right;
}
a.datalink, a.datalink:visited, a.datalink:active{   
    color: #144264;
}

/* Actieve menulinks style */
a.activemenulink, a.activemenulink:visited, a.activemenulink:active {
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 21px;
    border: 0px none White;
    border-left: 1px solid White;
    border-top: 1px solid White;
    border-right: 1px solid White;
    background-color: White;
    color: #144264;
    margin: 0px;
    margin-left: 15px;
    float: left;
}

/* Uitlijnen van de menulinks */
.topmenu_basis a.activemenulink, a.activemenulink:visited, a.activemenulink:active { 
    margin-left: 40px;
}

/* Logo op menubalk */
.menu_boven_logo {
    background-image: url(/gisviewer/images/kaartenbalielogo.gif);
    background-repeat: no-repeat;
    width: 210px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -461px;
}

/* Content DIV */
#content_div {
    background-image: url(/gisviewer/images/maindiv_bg.gif);
    background-repeat: repeat-y;
    width: 948px;
    padding-left: 15px;
    padding-right: 18px;
    display: block;
}

/* Bovenst DIV (Flamingoviewer + tabs) */
#bovenkant {
    background-color: White;
    width: 100%;
}

/* Stijl van onderste DIV (admin, thema data vak) */
#dataframediv {
    background-color: White;
    margin-top: 0px;
    border: 1px solid #606060;
    margin-bottom: 5px;
    overflow: hidden;
}

/* Stijl voor een Enabled invoer veld */
.inputEnabled {
    background-color: White;
}

/* Stijl voor een Disabled invoer veld */
.inputDisabled {
    background-color: #A1A1A1;
}

/* Stijl van de balken (VIEWER, DETAILS, E.D.) */
.onderbalk {
    background-color: #606060;
    color: #FFF0C4;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFD203;
    background-image: url(/gisviewer/images/balk_links.gif);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    height: 20px;
    padding-top: 3px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 8px;
}

/* Stijl van de teksten op de balken (VIEWER, DETAILS, E.D.) */
.onderbalk span {
    position: relative;
    right: 0px;
    top: -35px;
    font-size: 8pt;
    font-weight: bold;
    color: #19619B;
}

/* Stijl van de links op de balken (VIEWER, DETAILS, E.D.) */
.onderbalk a {
    color: #FFFFFF;
    font-weight: bold;
}

/* Stijl Flamingo map DIV */
#map {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 653px;
}

/* Overkoepelende DIV aan de rechterkant (tabs + inhoud tabs) */
#rightdiv {
    float: left;
    width: 291px;
    height: 387px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

/* Overkoepelende DIV rond de tabjes */
#tabjes {
    width: 291px;
    height: 20px;
    text-align: center;
}

/* Algemene stijl voor inhoud van de tabjes */
.tabvak {
    border: 0px none White;
    background-image: url(/gisviewer/images/tabvak_bg.gif);
    background-color: #19619B;
    background-repeat: repeat-x;
    height: 373px;
    color: White;
    margin: 0px;
}

/* Stijl voor de DIVs en TDs binnen het tabvak */
.tabvak div, .tabvak td {
    color: White;
}

/* Stijl de tabvelden met een iframe (object en analyse) */
.tabvak_with_iframe {
    border: 0px none White;
    height: 373px;
    margin: 0px;
    padding: 0px;
}

/* Stijl van de layerlijst DIV */
#treevak {
    height: 367px;
    width: 287px;
    margin: 0px;
}

/* Stijl van de Object en Analyse DIV */
#objectframe, #analyseframe {
    margin: 0px;
    padding: 0px;
    width: 291px;
    height: 373px;  
}

/* Overkoepelende DIV rondom velden met de tab inhoud */
#tab_container {
    height: 358px;
    width: 291px;
    color: White;
}

/* Stijl van de SPANS binnen het infotabje */
#algdatavak span {
    color: White;
}

/* Stijl van de body van de in de IFRAME geladen tabs */
.tabvak_body {
    background-image: url(/gisviewer/images/tabvak_bg.gif);
    background-color: #19619B;
    background-repeat: repeat-x;
    background-attachment: fixed;
    padding-left: 6px;
    padding-top: 6px;
    color: white;
}

/* Algemene Stijl voor de body van de in de IFRAME geladen tabs */
.tabvak_body td, .tabvak_body div, .tabvak_body th {
    color: white;
}

.tabvak_body td, #doanalysedataForm select {
    font-size: 8pt;
}

#doanalysedataForm .thema_label {
    font-weight: bold;
    font-style: italic;
}
/* EINDE Algemene Stijl voor de body van de in de IFRAME geladen tabs */

/* Stijl van de JAVASCRIPT lagen-lijst */
#layermaindiv {
    height: 355px;
    width: 276px;
}

/* Stijl van de links in de JAVASCRIPT lagen-lijst */
#layermaindiv a {
    color: #FFF0C4;
}

/* Stijl voor de Volgorde/Legenda tab */
#volgordevak{
    width: 279px;
    height: 361px;
}

/* Stijl van het infovak (RD coordinaten, zoeker, e.d.) */
#infovak{
    width: 287px;
    height: 367px;
}

/* Stijl van DIVs in het infovak (RD coordinaten, zoeker, e.d.) */
#infovak div {
    margin-left: 3px;
    margin-top: 3px;
}

/* Opmaak van de tabjes */
ul#nav li {
    text-align: center;
}

ul#nav a {
    background: #FFF0C4;
    text-decoration: none;
    color: #19619B;
    font-size: 8pt;
    height: 20px;
}

ul#nav a:hover {
    background: #19619B;
    color: #FFF0C4
}

ul#nav li.activelink a,ul#nav li.activelink a:hover {
    background: #19619B;
    color: #FFF0C4
}

ul#nav li#tab4 a { width: 57px; }
ul#nav li#tab3 a { width: 58px; }
ul#nav li#tab3 { margin-right: 0px; }
/* EINDE Opmaak van de tabjes */

/* Opmaak admindata */
#admindata_table {
    font-size: 8pt;
}

#admindata_table td {
    border: 0px none White;
}

.admindatabody {
    background-color: White;
}

.topRow, .etlTopRow {
    background-image: url("../images/patroon_kaartenbalie.gif");
    background-repeat: repeat;
}

.topRow th, .etlTopRow td {
    color: Black;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 3px;
}

.row {
    color: Black;
    font-weight: normal;
    background-color: White;
}

.row td {
    padding-left: 3px;
}

.row:hover {
    background-color: #fff0c4;
}

.scrolldiv {
    border: 1px solid black;
}

#aanvullende_info_table {
    border: 0px none White;
}

.aanvullende_info_th {
    text-align: left;
    font-size: 8pt;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px none White;
}

.aanvullende_info_td {
    font-size: 8pt;
    text-align: center;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px none White;
}

.aanvullende_info_alternateTr {
    background-color: #E7EEF4;
}

.admin_data_alternate_tr {
    background-color: #D2E0EB;
}
.admin_data_selected_tr {
    background-color: #fff0c4;
}

.themaLabelMouseOver {
    color: #ffd203;
    background-color: #102f44;
    border: 2px solid #19619b; 
}
/* EINDE Opmaak admindata */

/* Stijl van resultaat tekst van analyse */
.waardeResult{    
    font-size: 12px; 
}

/* Opmaak Volgorde/Legenda vak */
.orderLayerBox{
    border: 1px solid #606060;
    background-color: White;
    color: #175480;
}

.orderLayerClass{
    cursor: pointer;
    background-color: White;
    color: #175480;
}
.orderLayerClassSelected{
    background-color: #bbbbbb;
    cursor: pointer;
    color: #175480;
}

.orderLayerClass span, .orderLayerClassSelected span {
    padding-top: 4px;
    color: #175480;
}
/* EINDE Opmaak Volgorde/Legenda vak */

/* Opmaak meta data tabel */
.meta_data_body td {
    font-size: 8pt;
}

.messages {
    border: 1px solid blue;
    font-size: 9pt;
    font-weight: bold;
}

.meta_data_alternate {
    background-color: #E7EEF4;
    color: #18639A;
    width: 100%;
}

.meta_data_normal {
    background-color: White;
    color: #18639A;
    width: 100%;
}

.meta_data_normal h1, .meta_data_alternate h1 {
    color: #183B57;
    font-size: 12px;
    margin-left: 3px;
}

.meta_data_normal td, .meta_data_alternate td, .meta_data_normal th, .meta_data_alternate th {
    color: #196297;
}
/* EINDE Opmaak meta data tabel */

/* ETL Design */

#infovak_etl{
    height: 453px;
}

#tabreplacement {
    height: 30px;
    background-color: #D2E0EB;
    width: 291px;
    margin-bottom: 4px;
}

#etl_overview_table {
    border: 0px none White;
    margin-bottom: 15px;
}

#etl_overview_table a {
    color: #196299;
}

.etlRowList:hover {
    background-color: #dddddd;
}
/* EINDE ETL design */

/* Config design */
.topbar {
    background-image: url("../images/patroon_kaartenbalie.gif");
    background-repeat: repeat;
}

.bar_item {
    border: 0px none White;
    font-weight: bold;
    color: White;
    padding-left: 4px;
    cursor: pointer;
}

.c_item {
    color: #196299;
}

.c_item a {
    color: #196299;
    text-decoration: underline;
    font-weight: bold;
}

.c_item a:hover {
    text-decoration: none;
}
/* EINDE config Design */

/* Design voor de content pagina's. Om dit design toe te passen moet er een div tag met ID content_style rond de content worden geplaatst. */
#content_style, #content_style h1, #content_style h2, #content_style div, #content_style td, #content_style th, #content_style a, #content_style li {
    color: #196299;
}

#content_style hr {
    color: #196299;
}

#content_style {
    padding: 8px;
}

#content_style .kolomtabel td {
    padding: 15px;
    width: 430px;
    overflow: visible;
}

#content_style div.inleiding {
    background-color: #FFF0C5;
    padding: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 440px;
    margin-left: -15px;
}

#content_style h1 {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    margin-left: 0px;
    margin-bottom: 15px;
}

#content_style h2 {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 15px;
}

#content_style div.inleiding h2 {
    margin-top: 0px;
}

#content_style img {
    border: 1px solid #196096;
    padding: 4px;
}

#content_style a {
    text-decoration: underline;
    font-weight: bold;
}

#content_style a:hover {
    color: #FFD207;
}

#content_style .presentation_table {
    border: 1px solid #196096;
    border-collapse: collapse;
    width: 100%;
}

#content_style .presentation_table td {
    border: 1px solid #196096;
    padding: 5px;
    background-color: #E7EEF4;
    width: auto;
}

#content_style .presentation_table th {
    background-color: #196096;
    color: White;
    font-weight: bold;
    padding: 5px;
}

#content_style td ul {
    margin: 0px;
    padding-left: 18px;
}

.nbr {
    display: none;
}
/* EINDE Design voor de content pagina's. Om dit design toe te passen moet er een div tag met ID content_style rond de content worden geplaatst. */