#bovenkant {
    width: 950px;
    height: 498px;
}

.onderbalk {
    width: 935px;
    height: 19px;
    background-color: #606060;
    /*
    border-bottom: 1px solid #606060;
    border-left: 1px solid #606060;
    border-right: 1px solid #606060;
    */
    margin: 0px;
    margin-top: 0px;
    color: White;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 15px;
}

.onderbalk span {
    font-size: 8pt;
    font-weight: bold;
    color: White;
    float: right;
    margin: 0px;
    margin-right: 15px;
    margin-top: -23px;
}

#map{
    position: static;
    width: 658px;
    height: 493px;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    /*border: 1px solid Black;*/
    margin-top: 5px;
}
#rightdiv {
    float: left;
    width: 291px;
    height: 476px;
    margin-top: 21px;
}
#tabjes {
    width: 291px;
    height: 18px;
    text-align: center;
}
#treevak{
    margin: 0px;
    margin-left: 0px;
    padding: 2px;
    padding-left: 4px;
    width: 285px;
    height: 453px;
    float: left;
    border: 1px solid #606060;
    border-left: 0px none White;
    background-image: url(/nbr_prototype/images/infovak_bg.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
#infovak{
    margin: 0px;
    margin-left: 0px;
    padding: 2px;
    padding-left: 4px;
    width: 285px;
    height: 453px;
    float: left;
    border: 1px solid #606060;
    border-left: 0px none White;
    background-image: url(/nbr_prototype/images/infovak_bg.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
#volgordevak{
    margin: 0px;
    margin-left: 0px;
    padding: 6px;
    padding-left: 6px;
    width: 279px;
    height: 445px;
    float: left;
    border: 1px solid #606060;
    border-left: 0px none White;
    background-image: url(/nbr_prototype/images/infovak_bg.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
#volgordevak form {
    margin-top: 4px;
}
#objectvak{
    margin: 0px;
    padding: 2px;
    padding-left: 4px;
    padding-bottom: 0px;
    padding-right: 0px;
    width: 287px;
    height: 455px;
    float: left;
    border: 1px solid #606060;
    border-left: 0px none White;
}
#objectframe {
    margin: 0px;
    border: 0px;
    width: 287px;
    height: 455px;   
}
#analysevak{
    margin: 0px;
    padding: 2px;
    padding-left: 4px;
    padding-bottom: 0px;
    padding-right: 0px;
    width: 287px;
    height: 455px;
    float: left;
    border: 1px solid #606060;
    border-left: 0px none White;
}
#analyseframe {
    margin: 0px;
    border: 0px;
    width: 287px;
    height: 455px;   
}
#dataframe {
    float: left;
    width: 948px;
    height: 265px;
}
#dataframediv {
    border: 1px solid #606060;
    float: left;
    width: 948px;
    margin-top: 15px;
}
#admindatamaindiv{
    position: static;
    float: left;
    width: 950px;
    height: 265px;
    margin-top: 5px;
}
#tab_container {
    height: 458px;
    width: 291px;
}
#layermaindiv{
    /*position: static;*/
    margin: 0px;
    border: 0px;
    width: 277px;
    height: 445px; 
    padding: 5px;
    overflow: auto;
}
/*For the layers*/
a, a:visited, a:active {
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
    float: rigth;
}
a:hover{
    text-decoration: underline;
}
/*For admindata*/
#admindata_table {
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
    width: auto;
}

#admindata_table td {
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    border: 0px none White;
}

.topRow {
    background-image: url("../images/patroon_a.gif");
    background-repeat: repeat; 
    color: white;
    font-weight: bold;
}

.row{
    color: Black;
    font-weight: bold;
}
.row:hover {
    background-color: #606060;
}
.cell{
    float: left;
    width: 150px;
}
.scrolldiv{
    width: 952px;
    /*height: 200px;*/
    border: 1px solid black;
    margin-top: 10px;
}

button {
    border: 1px solid Black;
    height: 15px;
    width: auto;
    font-size: 10px; 
    background: white; 
    color: #000000; 
    font-family: arial, sans-serif;
}

#aanvullende_info_table {
    border: 0px none White;
    margin-top: 10px;
    margin-left: 10px;
}

#aanvullende_info_table tr:hover {
    background-color: #606060;
}

.aanvullende_info_th {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 11px;
}

.aanvullende_info_td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
}
.waardeResult{    
    font-size: 12px; 
}

.searchResultsClass{
    margin-top: 10px;
    width: 275px;   
    overflow: auto;
}
