#map {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 653px;
    height: 494px;
}

#rightdiv {
    width: 291px;
    height: 487px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

#tabjes {
    width: 292px;
    height: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.tabvak {
    height: 473px;
}

.tabvak_with_iframe {
    height: 473px;
    margin: 0px;
    padding: 0px;
}

#treevak {
    height: 472px;
    width: 282px;
    margin: 0px;
}

#layermaindiv {
    width: 278px;
    height: 455px;
}

#infovak {
    height: 468px;
    width: 282px;
    margin: 0px;
    padding: 5px;
}

#algdatavak, #infovak div {
    width: 275px;
    clear: both;
    margin: 0px;
}

#volgordevak {
    height: 466px;
    width: 280px;
    margin: 0px;
}

#objectvak {
    height: 473px;
    width: 291px;
    margin: 0px;
    padding: 0px;
}

#analysevak {
    height: 473px;
    width: 291px;
    margin: 0px;
    padding: 0px;
}

#objectframe, #analyseframe {
    margin: 0px;
    padding: 0px;
    width: 292px;
    height: 473px;   
}

ul#nav li#tab4 a, ul#nav li#tab3 a { width: 58px; }
ul#nav li#tab3 { margin-right: 0px; }