#map {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 653px;
    height: 493px;
}

#rightdiv {
    width: 291px;
    height: 487px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

#tabjes {
    width: 291px;
    height: 20px;
    text-align: center;
}

.tabvak {
    height: 473px;
}

.tabvak_with_iframe {
    height: 473px;
    margin: 0px;
    padding: 0px;
}

#objectframe, #analyseframe {
    width: 290px;
    height: 473px;   
}

#tab_container {
    height: 458px;
    width: 291px;
}

#layermaindiv {
    height: 460px;
    width: 276px;
}

#volgordevak{
    width: 279px;
    height: 473px;
}

#infovak div {
    margin-left: 3px;
    margin-top: 3px;
}