body {
    font-size: 8pt;
    background: #FFF0C5;
    color: #000000;
    font-family: arial, sans-serif;
}

#header {
    background-image: none;
}

#header_content {
    background-image: url(../images/bovenbalk.gif);
    background-position: 0px 5px;
    background-repeat: no-repeat;
}

.viewerbodyelement #header {
    background-color: #E5F0E8;
    background-image: url("../images/viewer_bovenbalk.gif");
    background-position: right top;
    background-repeat: no-repeat;
    height: 40px;
}

.viewerbodyelement #header_content {
    background-image: none;
    margin: 0px;
    float: left;
}

.viewerbodyelement #topmenu {
    margin-top: 25px;
}

.viewerbodyelement #content_viewer .infobalk .infobalk_actions {
    float: right;
    margin-right: 30px;
}

#content_viewer {
    top: 40px;
}

#topmenu {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

a.menulink, a.menulink:visited, a.menulink:active, a.activemenulink, a.activemenulink:visited, a.activemenulink:active {
    color: Black;
    display: block;
    float: left;
    margin-right: 15px;
    padding: 0;
}

#wrapper {
    background-color: White;
    color: Black;
}

#content_normal {
    padding-bottom: 60px;
}

#content {
    background-color: White;
}

.infobalk {
    background-color: #007C26;
    background-image: url(../images/balk_links.gif);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    margin-left: 0px;
}

.infobalk .infobalk_description {
    color: White;
    font-size: 14px;
    font-weight: bold;
}

.infobalk .infobalk_actions {
    font-size: 8pt;
    font-weight: bold;
    color: White;
}

.infobalk a, .infobalk div a {
    color: White;
    font-weight: bold;
}

ul#nav a {
    background: #E5F0E8;
    color: Black;
}

ul#nav a:hover {
    background: #D6DDD1;
    color: #007C25
}

ul#nav li.activelink a,ul#nav li.activelink a:hover {
    background: #D6DDD1;
    color: #007C25
}

#tab_container, #leftcontent {
    background-image: none;
    background-color: #D6DDD1;
    color: Black;
    background-position: 100% 100%;
}

#tab_container div, #tab_container td, #tab_container span,
#leftcontent div, #leftcontent td, #leftcontent span {
    color: Black;
}

#footer {
    background-image: none;
    height: 60px;
    margin-top: -60px;
}

#footer_content {
    background-image: url(../images/onderbalk.gif);
    background-repeat: no-repeat;
    height: 58px;
}

.footer_tekst {
    color: #7891A5;
    font-size: 11px;
    margin-top: 18px;
}

/* Common styles */
th {
    font-size: 8pt;
    font-weight: bold;
    text-align: left;
}

div, td, th, span, input, textarea, select, option, button {
    font-size: 8pt;
    color: #000000;
    font-family: arial, sans-serif;
}

h1{
    font-weight: bold;
    font-size: 11pt;
    color: Black;
}

a, a:visited, a:active {
    color: Black;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Design voor de content pagina's. Om dit design toe te passen moet er een div tag met ID content_style rond de content worden geplaatst. */
#content_style, #content_style div, #content_style td, #content_style th, #content_style li {
    color: Black;
}

#content_style h1, #content_style h2 {
    color: Black;
}

#content_style a {
    color: #007C26;
}

#content_style hr {
    color: Black;
}

#content_style {
    padding: 8px;
}

#content_style .kolomtabel td {
    padding: 15px;
    width: 430px;
    overflow: visible;
}

#content_style div.inleiding {
    background-color: #E8F3EB;
    padding: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 440px;
    margin-left: -15px;
}

.loadingMessage{
    background-color: #FFF0C5;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    width: 100%;
    margin-left: -15px;

}

#content_style h1 {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    margin-left: 0px;
    margin-bottom: 15px;
}

#content_style h2 {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 15px;
}

#content_style div.inleiding h2 {
    margin-top: 0px;
}

#content_style img {
    border: 0px none;
    padding: 4px;
}

#content_style a {
    text-decoration: underline;
    font-weight: bold;
}

#content_style a:hover {
    color: Black;
}

#content_style .presentation_table {
    border: 1px solid #007C26;
    border-collapse: collapse;
    width: 100%;
}

#content_style .presentation_table td {
    border: 1px solid #007C26;
    padding: 5px;
    background-color: White;
    width: auto;
}

#content_style .presentation_table th {
    background-color: #007C26;
    color: White;
    font-weight: bold;
    padding: 5px;
}

#content_style td ul {
    margin: 0px;
    padding-left: 18px;
}

.messages {
    color: #000000;
}

.topRow {
    background-image: url(../images/patroon_kaartenbalie.gif);
    background-repeat: repeat;
}

.topRow.topRowHeader {
    font-weight: bold;
}

.topRow.topHeader {
    border-bottom: 1px solid #EAEEF2;
    background-repeat: repeat-x;
}

.openclosediv {
    background-color: white;
    border: 1px solid black;
}

.toprowbuttons {
    color: #000000;
}

.row {
    color: Black;
    font-weight: normal;
    background-color: White;
}

.row:hover {
    background-color: #fff0c4;
}

.admin_data_alternate_tr {
    background-color: #e8f3eb;
}
.admin_data_selected_tr {
    background-color: #fff0c4;
}

#aanvullende_info_table {
    border: 0px none White;
}

.aanvullende_info_th {
    text-align: left;
    font-size: 8pt;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px none White;
}

.aanvullende_info_td {
    font-size: 8pt;
    text-align: center;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px none White;
}

.aanvullende_info_alternateTr {
    background-color: #e8f3eb;
}

.scroll {
    border: solid 1px #1C6CA7;
}

.tabvak_body, .tabvak_body div {
    background-color: transparent;
    color: Black;
}

.tabvak_body .messages #error, .tabvak_body .messages #acknowledge {
    color: Black;
    margin: 5px;
}

.tabvak_content {
    margin-left: 5px;
    margin-top: 2px;
    color: Black;
}

.tabvak_with_iframe, .tabvak_with_iframe iframe {
    background-color: transparent;
}

.admindatabody {
    background-color: White;
}

.orderLayerBox {
    border: 1px solid #606060;
    background-color: White;
    color: #175480;
}

#tab_container .orderLayerBox .orderLayerSpanClass {
    color: #000000;
    font-weight: bold;
}

.orderLayerClass {
    background-color: White;
    color: #175480;
}

.orderLayerClassSelected {
    color: #175480;
    background-color: #bbbbbb;
}

.orderLayerClass span, .orderLayerClassSelected span {
    color: #175480;
}

#kopTekst {
    background-color: #E5352C;
    color: White;
    font-weight: bold;
}

.treeLegendClass {
    border: 1px solid Black;
    background-color: white;
    color: Black;
}

#searchConfigurationsContainer, #vergunningConfigurationsContainer {
    border-bottom: 1px solid White;
}

#popupWindow {
    border: 3px solid #592a0c;
    background-color: #592a0c;
}

#popupWindow_Handle {
    background-color: #007c26;
    color: White;
}

#popupWindow_Close {
    color: White;
}

#popupWindow_Title {
    font-weight: bold;
    color: White;
}

body.pdfExportClass {
    background-color: White;
}

.createMapPDFBody{
    margin: 10px;
    overflow: visible;
}

.createmappdftd {
    border: 1px solid #000;
}

/* Panel controls */
#panelControls .left_closed, #panelControls .right_open {
    background-image: url(../images/icons/panel_leftright.png);
    background-position: 0px 20px;
}

#panelControls .left_closed:hover, #panelControls .right_open:hover {
    background-image: url(../images/icons/panel_leftright.png);
    background-position: 20px 20px;
}

#panelControls .right_closed, #panelControls .left_open {
    background-image: url(../images/icons/panel_leftright.png);
    background-position: 0px 0px;
}

#panelControls .right_closed:hover, #panelControls .left_open:hover {
    background-image: url(../images/icons/panel_leftright.png);
    background-position: 20px 0px;
}

#panelControls .bottom_closed {
    background-image: url(../images/icons/panel_updown.png);
    background-position: 20px 0px;
}

#panelControls .bottom_closed:hover {
    background-image: url(../images/icons/panel_updown.png);
    background-position: 20px 20px;
}

#panelControls .bottom_open {
    background-image: url(../images/icons/panel_updown.png);
    background-position: 0px 0px;
}

#panelControls .bottom_open:hover {
    background-image: url(../images/icons/panel_updown.png);
    background-position: 0px 20px;
}

#loadingDiv {
    background-color: #fff;
    background-repeat: no-repeat;
    width: 300px;
    height: 60px;
    border: 1px solid #000;
    text-align: center;
    padding-top: 25px;
    color: #000;
}

.admindataSmallCell a {
    color: Black;
}

/*CMS content blok in tab*/
.content_block_tab{
    float: left;
    width: 100%;
}
/* nieuwe divs voor gebruik op Home pagina Gisviewer */
.content_block {
    float: left;
    width: 450px;
    margin-left: 15px;
    min-height: 180px;
}

.content_block a {
    padding-top: 5px;
    color: #007C26;
    text-decoration: underline;
}

.content_title {
    font-size: 1.5em;
    font-weight: bold;
    color: Black;
    margin-top: 15px;
    padding-bottom: 10px;
}

.content_block_tab .content_title {
    color: #ffffff;
}

.inleiding_body {
    background-color: White;
    /*
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    */
    color: Black;
    font-weight: bold;
    height: 220px;
    /*
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFF0C5), to(#FFE1A3));
    background: -moz-linear-gradient(#FFF0C5, #FFE1A3);
    background: -ms-linear-gradient(top, #FFF0C5, #FFE1A3);
    background: -o-linear-gradient(top, #FFF0C5, #FFE1A3);
    background: linear-gradient(#FFF0C5, #FFE1A3);
    */
}

.inleiding_body p {
    margin: 0px;
}

.helppagina_cms_blok {
    height: 220px;
}

.content_block_tab .inleiding_body {
    color: #ffffff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px 0px 0px 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    background-color: transparent;
}

.example_image {
    float: left;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
 }

.content_body td {
    padding-right: 10px;
}

.content_body a {
    padding-top: 5px;
    color: #007C26;
    text-decoration: underline;
}

.message {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 20px;
}

.inputfield {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    padding: 3px;
    border: solid 1px #007C26;
    width: 200px;
}

.inlogbutton {
    display: block;
    margin-top: 10px;
    padding: 8px;
    border: solid 1px #000;
}

.hr_line {
    margin-top: 20px;
    text-align: left;
    width: 200px;
}

.uitloggen {
    clear: both;
    width: 450px;
    padding: 15px;
}

.uitloggen a {
    color: #007C26;
    text-decoration: underline;
}

a.highlightlink, a.highlightlink:visited, a.highlightlink:active {
    color: blue;
    font-size: 1.5em;
    text-decoration: none;
}

a.highlightlink:hover{
    text-decoration: underline;
}

.admindata2_header {
    display: block;
    padding: 5px;
    background-color: #D2E0EB;
    width: 500px;
    font-size: 1.1em;
}

.admindata3_header {
    display: block;
    padding: 5px;
    background-color: #D2E0EB;
    width: 300px;
    font-size: 1.1em;
}

.gebied_item {
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.noflamingoerror {
    color: Red;
}

.cursorpointer {
    cursor: pointer;
    cursor: hand;
}

.imagenoborder {
    border: 0px none;
}

.readonlyfield {
    background-color: #dddddd;
}

.downloadBody {
    margin-top: 10px;
    margin-right: 10px;
}

.downloadBody .submitbutton {
    color: #61676B;
    background-color: #DDE9F2;
    font-weight: bold;

    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 22px;

    background-image: url(../images/icons/download_icon.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;

    border: 1px solid #000;
}

.downloadBody input[type=text] {
    border: 1px solid #000;
    width: 300px;
}

.downloadBody select {
    border: 1px solid #000;
    width: 60px;
}

.kaartselectieBody {
    margin-top: 10px;
}

.kaartselectieBody .help {
    position: absolute;
    width: 340px;
    border: 1px solid #196299;
    padding: 5px;
    margin-top: -2px;
    left: 125px;
    background-color: #DDE9F2;
    display: none;
    z-index: 1100;
}

.kaartselectieBody .alleenLezen, .viewerNaamHelperClass {
    position: absolute;
    width: 340px;
    border: 1px solid #196299;
    padding: 5px;
    margin-top: -35px;
    left: 380px;
    background-color: #DDE9F2;
    display: none;
    z-index: 6000;
}

.kaartselectieBody .submitbutton {
    font-weight: bold;
    color: #61676B;
    background-color: #DDE9F2;
    padding: 4px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 20px;
    background-image: url(../images/icons/save.png);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    cursor: pointer;
}

.kaartselectieBody .submitbutton.deletebutton {
    background-image: url(../images/icons/remove.png);
    background-repeat: no-repeat;
}

.kaartselectieBody .submitbutton:hover {
    border: 1px solid #196299;
    color: #196299;
}

.kaartselectieBody .submitbutton.deletebutton:hover {
    border: 1px solid #F84838;
    color: #F84838;
}

.kaartselectieBody input, .kaartselectieBody textarea {
    font-size: 9pt;
    border: 1px solid #61676B;
    padding: 5px;
}

.kaartselectieBody input[type=checkbox] {
    border: 0px none;
    margin: 0px;
}

.kaartselectie {
    /* background-color: #eee; */
    width: 748px;
}

.kaartlaagselectieContainer {
    position: absolute;
    left: 600px;
    margin-top: -14px;
}

.kaartlaagselectieContainer img {
    position: absolute;
    z-index: 1050;
}

.kaartlaagselectieSldContainer {
    position: absolute;
    width: 340px;
    margin-left: -330px;
    margin-top: -6px;
    border: 1px solid #196299;
    padding: 5px;
    background-color: #DDE9F2;
    display: none;
    z-index: 10000;
}

.kaartlaagselectieSldContainer img {
    position: static;
}

.kaartlaagselectieSldContainer textarea {
    width: 328px;
    height: 80px;
}

.kaartlaagselectieSldContainer select {
    width: 100%;
}

.kaartlaagselectieSldContainer label {
    display: block;
    color: #196299;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.kaartlaagselectieSubmitPopup {
    position: absolute;
    width: 340px;
    left: 50%;
    top: 70%;
    margin-left: -170px;
    margin-top: -100px;
    border: 1px solid #196299;
    padding: 5px;
    background-color: #DDE9F2;
    display: none;
    z-index: 5000;
}

.kaartselectie .checkboxDummy {
    margin-top: -14px;
    left: 300px;
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 1050;
}

.kaartselectie img {
    cursor: pointer;
}

.kaartselectie .treeview_row {
    height: 20px;
}

.kaartselectie .treeview_odd_row {
    background-color: #DDE9F2;
}

.kaartselectieKoppen {
    margin-top: 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid #196299;
    padding-bottom: 1px;
    width: 748px;
}

.kaartselectieKoppen h3 {
    font-size: 15px;
    margin: 0px;
    color: #196299;
}

.kaartselectieKoppen h3 img {
    vertical-align: middle;
    margin-bottom: 2px;
}

#kaartselectieAddServiceLink {
    display: block;
    font-weight: normal;
    background-image: url(../images/icons/add.png);
    background-repeat: no-repeat;
    background-position: 2px 0px;
    color: #196299;
    font-size: 13px;
    padding-left: 24px;
    padding-top: 0px;
    padding-bottom: 2px;
    text-decoration: underline;
    margin-top: 7px;
    margin-left: 4px;
    float: left;
    margin-bottom: 10px;
}

#kaartselectieAddService {
    background-color: #DDE9F2;
    padding: 14px;
    padding-top: 8px;
    width: 720px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#kaartselectieAddService h4 {
    font-weight: normal;
    font-size: 13px;
    color: #196299;
    padding-left: 28px;
    padding-top: 1px;
    background-image: url(../images/icons/add.png);
    background-repeat: no-repeat;
    background-position: 6px 0px;
    margin: 0px;
    margin-left: -14px;
    
}

#kaartselectieAddService label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#kaartselectieAddService input {
    width: 560px;
}

#kaartselectieOpslaanKnop {
    top: -10px;
}

/* Edit below to position image checkboxes and Laag tonen */
.treeview_image {
    position: absolute;
    left: 463px;
    margin-top: -14px;
    z-index: 1050;
}

.treeview_image_on {
    position: absolute;
    left: 570px;
    margin-top: -14px;
    z-index: 1050;
}

.treeview_image_toggle_children {
    position: absolute;
    left: 463px;
    margin-top: -14px;
    z-index: 1050;
}

.kaartselectieKoppen h4 {
    float: left;
    font-size: 1.3em;
    font-weight: normal;
    color: #196299;
    margin: 0px;
    margin-top: -1.3em;
    margin-left: 430px;
}

.kaartselectieKoppen h4.col2 {
    margin-left: 520px;
}

.kaartselectieKoppen h4.col3 {
    margin-left: 700px;
}
/* end edit margins */

.kaartselectieBody .rightButton, #kaartselectieAddService .rightButton {
    float: right;
    margin-right: 15px;
    padding-left: 21px;
    padding-bottom: 5px;
    padding-top: 5px;    
    width: auto;
}

#kaartselectieOpslaanKnop {
    float: right;
    top: 1px;
    position: relative;
    overflow: hidden;
}

#kaartselectieAddService .rightButton {
    float: right;
    margin-right: 2px;
    padding-left: 21px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: auto;
}

#kaartselectieBomen {
    padding-top: 40px;
}

.kaartselectieBody #error, .kaartselectieBody #acknowledge {
    width: 706px;
    padding: 12px;
    padding-left: 30px;
    background-position: 10px 11px;
    margin-left: 0px;
}

.bag_td{
    color: white;
}

#appUrl{
    font-size: 1.4em;
    background-color: #EEEEEE;
    border: 1px solid black;
    padding: 3px;
}

#appUrl a{
    color: #0000ff;
}

#appUrl a:hover {
    text-decoration: none;
}

.meldingencontainer .messages .acknowledge_tab
{
    border: 1px solid #828282;
    width: 215px;
    padding: 12px;
    padding-left: 30px;
    margin: 10px;
    margin-left: 0px;
    color: #000000;
    background-color: #E5E5E5;
    background-image: url(/digitree/images/icons/information.png);
    background-repeat: no-repeat;
    background-position: 10px 11px;
}

.input_wmsserviceurl {
    border: 1px solid #61676B;
    width: 725px;
    height: 22px;
}

#searchInputFieldsContainer select {
    width: 270px;
    overflow: auto;
    padding: 2px;
    border: 1px solid #808080;
}

/* OpenLayers */
.olImageLoadError {
    background-color: transparent !important;
}