<?xml version="1.0" encoding="UTF-8"?>

<FLAMINGO xmlns:fmc="fmc" allowExternalInterface=".onChangeExtent,.onRequest,toolGroup.onSetTool,map1.onIdentify,map1.onIdentifyData,map1.onInit,map1.onUpdateComplete,b_getfeatures.onEvent,b_buffer.onEvent,b_removePolygons.onEvent,b_highlight.onEvent,b_bookMark.onEvent,b_showOverzicht.onEvent" id="flamingo" lang="nl" languages="nl,en" tooltipdelay="100" preloadtitle="B3p Gisviewer" useexternalinterface="true">
    <style id=".tooltip" font-family="arial, sans-serif" font-size="12" color="#000000" display="block"/>
    <yguide id="my" y="50%"/>
    <xguide id="mx" x="50%"/>
    <fmc:MonitorMap id="monitorl" left="25%" top="10%" width="35%" listento="map1">
        <string id="waiting"  en="Making... [layer] [percentage]%..." nl="Kaart aan het maken..."/>
        <string id="loading"  en="Making... [layer] [percentage]%..." nl="Kaart aan het laden. [percentage]%"/>
    </fmc:MonitorMap>

    <fmc:Container backgroundcolor="#EEEEEE" left="0" top="0" height="5%" width="100%">
        <fmc:Scalebar left="530" top="40%" width="100" listento="map1" units=" m"></fmc:Scalebar>
        <fmc:ToolGroup id="toolGroup" tool="identify" listento="map1" width="500" height="65" left="5" top="5">
            <fmc:ToolZoomin id="toolZoomin" skin="f2" />
            <fmc:ToolZoomout id="toolZoomout" left="30" skin="f2"/>
            <fmc:ToolPan id="toolPan" left="60" skin="f2"/>
            <fmc:ToolMeasure id="toolMeasure" left="90" skin="f2" />

            <fmc:ToolIdentify id="identify" left="120" skin="f2" />

            <fmc:ToolIdentify id="breinaald" left="120" skin="f2" visible="false">
                    <cursor id='cursor' url='assets/jsbtn/polygon_select_cursor.png' xoffset="-8" yoffset="0"/>
                    <cursor id='click' url='assets/jsbtn/polygon_select_cursor.png' xoffset="-8" yoffset="0"/>
                    <cursor id='busy' url='assets/jsbtn/polygon_select_cursor.png' xoffset="-8" yoffset="0"/>
            </fmc:ToolIdentify>

            <fmc:ButtonFull id="toolFullExtent" left="150" listento="map1" skin="f2" />
            <fmc:ButtonPrev id="toolPrevExtent" left="180" listento="map1" skin="f2" />
            <fmc:ButtonNext id="toolNextExtent" left="210" listento="map1" skin="f2" />
            
            <fmc:JsButton id="b_showOverzicht" left="250" top="0" width="21" height="21" iconurl_up="flamingo/assets/arnhem/map.png" iconurl_over="flamingo/assets/arnhem/map.png" iconurl_sel="flamingo/assets/arnhem/map.png" iconurl_dis="flamingo/assets/arnhem/map.png" label="" toggle="true" visible="true" enabled="true" selected="false">
                <string id="tooltip" en="Show " nl="Toon overzichtskaart"/>
            </fmc:JsButton>

            <fmc:ZoomerV listento="map1" left="30" top="75" height="150" skin="f2"/>

            <!-- stukje knoppen voor redlining/ editing -->
            <fmc:Container id="redLiningContainer" visible="false">
                <!-- fmc:EditInfoPanel id="editInfoPanel" left="0%" top="50" listento="editMap" nrdigits="2"/ -->
                <fmc:EditLegend id="editLegend" left="280" top="0" listento="editMap" expandable="false"/>
                <fmc:EditBar id="editBar" left="280" top="0" listento="editMap" />
            </fmc:Container>

            <fmc:Container left="20">
                <fmc:JsButton id="b_buffer" left="350" top="0" width="21" height="21" iconurl_up="flamingo/assets/jsbtn/buffer_tool.png" iconurl_over="flamingo/assets/jsbtn/buffer_tool.png" iconurl_sel="flamingo/assets/jsbtn/buffer_tool.png" iconurl_dis="flamingo/assets/jsbtn/buffer_tool_disabled.png" label="" toggle="false" visible="false" enabled="false" selected="false">
                    <string id="tooltip" en="buffer polygon" nl="buffer het tekenobject"/>
                </fmc:JsButton>

                <fmc:JsButton id="b_highlight" left="380" top="0" width="21" height="21" iconurl_up="flamingo/assets/jsbtn/polygon_select.png" iconurl_over="flamingo/assets/jsbtn/polygon_select.png" iconurl_sel="flamingo/assets/jsbtn/polygon_select.png" iconurl_dis="flamingo/assets/jsbtn/polygon_select.png" label="" toggle="true" visible="false" enabled="true" selected="false">
                    <string id="tooltip" en="select object" nl="selecteer een object in de kaart"/>
                </fmc:JsButton>

                <fmc:JsButton id="b_getfeatures" left="410" top="0" width="21" height="21" iconurl_up="flamingo/assets/jsbtn/polygon_info.png" iconurl_over="flamingo/assets/jsbtn/polygon_info.png" iconurl_sel="flamingo/assets/jsbtn/polygon_info.png" iconurl_dis="flamingo/assets/jsbtn/polygon_info_disabled.png" label="" toggle="false" visible="false" enabled="true" selected="false">
                    <string id="tooltip" en="select within features" nl="selecteer binnen geselecteerd kaartobject"/>
                </fmc:JsButton>

                <fmc:JsButton id="b_removePolygons" left="440" top="0" width="21" height="21" iconurl_up="flamingo/assets/jsbtn/polygon_delete.png" iconurl_over="flamingo/assets/jsbtn/polygon_delete.png" iconurl_sel="flamingo/assets/jsbtn/polygon_delete.png" iconurl_dis="flamingo/assets/jsbtn/polygon_delete_disabled.png" label="" toggle="false" visible="false" enabled="true" selected="false">
                    <string id="tooltip" en="remove polygon" nl="verwijder het tekenobject"/>
                </fmc:JsButton>
            </fmc:Container>

        </fmc:ToolGroup>
        <fmc:Coordinates id="coordinates" listento="map1" left="85%" top="10" decimals="0">
            <style id=".xy" font-family="arial" font-size="11" />
            <string id="xy" nl="X: [x]     Y: [y]" />
        </fmc:Coordinates>
    </fmc:Container>

    <fmc:Container id="containerMain" borderwidth="1" bordercolor="#606060" left="0" top="5%" height="95%" width="100%">
        <fmc:BorderNavigation listento="map1" top="0%" width="100%" height="100%" skin="f1"/>

        <!-- het 'canvas' waar op getekend kan worden-->
        <fmc:EditMap id="editMap" editable="true" left="0" top="0%" height="100%" width="100%" bottom="bottom" listento="gis,map1"/>

        <fmc:GIS id="gis" geometryeditable="yes" alwaysdrawpoints="no">
            <fmc:Layer id="layer1" name="layer1" visible="true" geometrytypes="Point,LineString,Polygon,MultiPolygon">
                <fmc:Style fillcolor="0x000000" fillopacity="30" strokecolor="0xcc0000" strokeopacity="100" strokeWidth="1"/>
            </fmc:Layer>
        </fmc:GIS>

        <fmc:Maptip listento="map1"/>
        <fmc:Map maptipdelay="1000" id="map1" left="0" top="0%" height="100%" width="100%"
        bottom="bottom" visible="true" extenthistory="10" extent="21000,357000,283000,615000"
        movesteps="20" movetime="100">
            <fmc:LayerIdentifyIcon  id="identifyicon"/>

            <!--
            <fmc:LayerImage id="Limburg_achtergrond" imageurl="assets/limburg/limburg_achtergrond.png" extent="-11920,221334,398981,506050" minscale="250" maxscale="500"/>
            <fmc:LayerImage id="Limburg_achtergrond1" imageurl="assets/limburg/limburg_achtergrond1.png" extent="62089,257649,325039,469667" minscale="100" maxscale="250"/>
            <fmc:LayerImage id="Limburg_achtergrond2" imageurl="assets/limburg/limburg_achtergrond2.png" extent="118739,290740,268450,436514" minscale="15" maxscale="100"/>
            -->
        </fmc:Map>
    </fmc:Container>
    <fmc:Window id="overviewwindow" skin="f2" left="right -270" top="top 50" width="200" height="250" canresize="false" visible="false" canclose="true" title="Overzicht" defocusalpha="75">
        <fmc:Map id="map_overview" left="left -10" top="top -11" width="200" height="250" minscale="80" extent="183605,438452,196449,454487" fullextent="183605,438452,196449,454487">
            <fmc:LayerOverview listento="map1" color="#33CC33" followfactor="10000" />
            <fmc:LayerImage id="oimage" imageurl="../images/arnhem/arnhem.swf" extent="183605,438452,196449,454487" listento="map1"/>
        </fmc:Map>
    </fmc:Window>
</FLAMINGO>